<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/loanofficer">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/loanofficer/receive">
                    <i class="fa fa-th"></i> <span>Received allocations</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/loanofficer/manage">
                    <i class="fa fa-pagelines "></i>
                    <span>details management</span>
                    <!-- <i class="fa fa-angle-left pull-right "></i> -->
                </a>
            </li>
            <li>
                <a href="/loanofficer/result">
                    <i class="fa fa-edit "></i> <span> Aris data </span>

                </a>

            </li>
            <li>
                <a href="/loanofficer/send/">
                    <i class="fa fa-edit "></i> <span>sended beneficiary</span>

                </a>

            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>